@use '../../../styles/index.scss' as *;

.btn {
	padding: 12px 34px;
	font-family: $first-font;
    font-weight: bold;
	border: 2px solid $gold;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $dark;
	border-radius: 8px;
    width: 200px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .btn {
        width: 100%;
    }
}