@use '../../../styles/index.scss' as *;

.about {
	background-color: $grey;
	padding: 71px calc(50% - 700px);
	display: flex;
	gap: 382px;
	align-items: center;

	&__header {
		font-family: $second-font;
		font-size: 40px;
		line-height: 41px;
		letter-spacing: 0.005em;
		color: $dark;

		&__2 {
			margin-top: 20px;
			color: $gold;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 40px;
		font-family: $first-font;
		font-size: 16px;
		line-height: 170%;
		color: $dark;
	}

    &__more {
        display: none;
    }
}

@media screen and (max-width: 1600px) {
	.about {
		padding: 71px calc(50% - 600px);
	}
}

@media screen and (max-width: 1300px) {
	.about {
		padding: 71px calc(50% - 480px);
	}
}

@media screen and (max-width: 1024px) {
    .about {
        flex-direction: column;
        align-items: start;
        // margin-top: 250px;
        gap: 60px;
        padding: 60px 30px;

        &__header {
            font-size: 32px;
            line-height: 33px;
        }

        &__text {
            &__paragraph {
                &__2 {
                    display: none;
                }
            }
        }
       

        &__more {
            display: flex;
            text-transform: uppercase;
            color: $dark;
            font-size: 14px;
            font-weight: 600;
            border: none;
            padding: 20px 0;
            background-color: transparent;
        }
    }

.active {
    display: flex;
}
}
