@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Khula:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;

}


.alice-carousel__stage {
	// display: flex;
	// gap: 30px;
}

.alice-carousel__prev-btn .alice-carousel__prev-btn-item {
	display: none;
}

.alice-carousel__next-btn .alice-carousel__next-btn-item {
	display: none;
}

.alice-carousel__dots-item {
	width: 14px !important;
	height: 14px !important;
	background-color: #dfdfdf !important;
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
	background-color: #d3a265 !important;
}
